.section {
  max-width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title h1 {
  font-size: 2rem;
}
.text {
  padding: 20px;
}
.text p {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(101, 101, 101);
}
.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.special {
  background-color: rgb(234, 234, 234);
  border-radius: 8px;
  padding-bottom: 50px;
  flex: 1 0 300px;
}
.special img {
  width: 100%;
  height: 200px;
  transition: all 200ms ease;
}
.special img:hover {
  scale: 1.1;
  box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.text a {
  display: inline-block;
  margin-top: 20px;
  border-bottom: 1px solid black;
  font-weight: 600;
  color: black;
  cursor: pointer;
  transition: color 200ms ease;
}
.text a:hover {
  color: rgb(109, 109, 109);
  border-bottom: 1px solid rgb(109, 109, 109);
}
.text svg {
  margin-left: 10px;
  transition: all 200ms ease;
}
.text a:hover + svg {
  margin-left: 20px;
}
.special img:hover + div > svg {
  margin-left: 20px;
}
.book {
  font-family: "Karla";
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
}
