.header {
  width: 100%;
  background-color: var(--bg-color);
}
.container {
  width: 70%;
  margin: auto auto;
  padding-top: 50px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 50px;
  justify-content: space-between;
}
.imageContainer {
  width: 500px;
  height: 400px;
  overflow: hidden;
}
.text {
  width: 400px;
}
.text h1 {
  font-size: 64px;
  font-family: "Markazi Text";
  color: var(--primary-yellow);
}
.text h2 {
  color: white;
  font-family: "Karla";
}
.text p {
  margin-top: 50px;
  max-width: 600px;
  color: white;
}
.text button {
  background-color: black;
  margin-top: 50px;
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Karla";
  font-weight: 600;
}
.image {
  width: 100%;
  object-position: center;
  object-fit: contain;
  border-radius: 16px;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.image:hover {
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
