.form div {
  padding: 5px 0;
}
input {
  margin: 5px;
  padding: 5px;
  border-radius: 16px;
}
input:invalid {
  outline-offset: 1px;
}

input[type="submit"] {
  padding: 10px 15px;
  background-color: black;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  border: none;
}
input[type="submit"]:disabled {
  cursor: not-allowed;
}
