.footer {
  background-color: black;
  padding: 100px 0;
}
.logo {
  height: 200px;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
.imageContainer {
  /* width: 200px; */
  /* height: 200px; */
  overflow: hidden;
}
.imageContainer img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
li {
  padding: 2px 0;
}
.contacts li h3,
.navigation li h3,
.socials li h3 {
  color: var(--primary-yellow);
}
a {
  color: white;
  transition: color 200ms ease;
}
a:hover {
  color: var(--primary-yellow);
}
.navigation {
}
.contactLinks {
}
.socials {
}
