.logo {
  /* color: var(--bg-color); */
  height: 50px;
}
.list {
  display: flex;
  gap: 5px;
}
.navigation {
  display: flex;
  max-width: 85%;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bg-color);
}

.link {
  padding: 10px 20px;
  color: var(--bg-color);
  border-radius: 5px;
  transition: all 200ms ease;
}
.link:hover {
  background-color: var(--bg-color);
  color: white;
}
